<section class="bg-primary" id="one">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
                    <p>
                    <%= @blog.user.nickname %>の記事</p>

                    <br />
                    <h7>&emsp;&emsp;タイトル</h7>

                    <%= @blog.title %>

                    <br />
                    <%= @blog.text %>
                </div>
            </div>
        </div>
    </section>
